.HoverGridCon {
  height: calc(100vh - clamp(4rem, 4.5vw, 5rem) - 30px);
  width: 100vw;
  overflow: hidden;
  top: calc(clamp(4rem, 4.5vw, 5rem) + 30px);
  position: absolute;
  display: flex;
  z-index: 0;

  .Column {
    width: 5vw;
    height: 100%;

    .Block {
      height: 5vw;
      width: 100%;
      background: #485e97;
      opacity: 0;
    }

    .active {
      opacity: 1;
      transition: none;
    }

    .fade {
      opacity: 0;
      transition: opacity 0.8s cubic-bezier(0.76, 0, 0.24, 1);
    }
  }
}
